@model IEnumerable<FlightBookingServiceModel>

@{
    ViewBag.Title = "My Flights";
}


@if (!Model.Any())
{
    <h3 class="text-center row-planes">You have not booked any flights yet!</h3>
}
else
{

    <h4 class="display-4">Upcoming Flights</h4>
    <div class="flight-block">
        @foreach (var booking in Model.Where(x => x.FlightDate >= DateTime.UtcNow && x.IsCancelled == false).OrderBy(x => x.IsCheckedIn))
        {

            <section class="div-planes-partial card mb-3 flex-flights percent100width">
                <img id="bookingImage" class="card-img-top img-planes-partial width-20" src="@booking.ImageUrl" alt="@booking.EndLocation @booking.FlightDate?.ToShortDateString() @booking.CountOfSeats">
                <section id="bookingInfo" class="flight-item max-info">
                    <div class="flight-info"> @booking.StartLocation to @booking.EndLocation </div>
                    <section>
                        <div>@booking.FlightDate?.ToShortDateString()</div>
                        <i class="fa-regular fa-lemon"></i>
                        <div>Reservation number: @booking.Id.Substring(0, 6).ToUpper()</div>
                        <i class="fa-regular fa-lemon"></i>
                        <div>@booking.CountOfSeats <i class="fa-solid fa-user"></i></div>
                    </section>
                </section>
                <div id="bookingButtons" class="card-body text-center flex-2">
                    <a asp-area="" asp-controller="Bookings" asp-action="AddLuggage" asp-route-bookingId="@booking.Id" class="btn btn-warning">Add Luggage</a>

                    @if (booking.FlightDate <= DateTime.UtcNow.AddDays(30) && booking.IsCheckedIn == false)
                    {
                        <a asp-area="" asp-controller="Bookings" asp-action="CheckIn" asp-route-bookingId="@booking.Id" class="btn btn-warning">Check In</a>
                    }

                    @if (booking.IsCheckedIn == false)
                    {
                        <a asp-area="" asp-controller="Bookings" asp-action="Cancel" asp-route-bookingId="@booking.Id" class="btn btn-warning">Cancel Flight</a>
                    }
                </div>
            </section>
        }
    </div>



    <div class="row">
        <h4 class="display-4">Flight History</h4>

        @foreach (var booking in Model.Where(x => x.FlightDate < DateTime.UtcNow && x.IsCancelled == false).OrderByDescending(x => x.FlightDate).Take(5))
        {
            <div class="col-md-4 div-flights-partial">
                <div class="card mb-3 flights-partial">
                    <img class="card-title text-center" @booking.StartLocation @booking.EndLocation @booking.FlightDate?.ToShortDateString() @booking.TotalPrice @booking.CountOfSeats>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <h4 class="display-4">Cancelled Flights</h4>

        @foreach (var booking in Model.Where(x => x.IsCancelled == true).OrderByDescending(x => x.FlightDate).Take(5))
        {
            <div class="col-md-4 div-flights-partial">
                <div class="card mb-3 flights-partial">
                    <h1 class="card-title text-center"> @booking.StartLocation @booking.EndLocation  @booking.FlightDate?.ToShortDateString()  @booking.TotalPrice</h1>
                </div>
            </div>
        }
    </div>

}