@model IEnumerable<FlightBookingServiceModel>

@{
    ViewBag.Title = "My Flights";
}


@if (!Model.Any())
{
    <h3 class="text-center row-planes">You have not booked any flights yet!</h3>
}
else
{

    <h3>Upcoming Flights</h3>
    <div class="flex-booking">
        @foreach (var booking in Model.Where(x => x.FlightDate >= DateTime.UtcNow && x.IsCancelled == false).OrderBy(x => x.IsCheckedIn))
        {

            <section class="div-planes-partial card mb-3 flex-flights percent100width">
                <img class="card-img-top img-planes-partial width-15" src="@booking.ImageUrl" alt="@booking.EndLocation @booking.FlightDate?.ToShortDateString() @booking.CountOfSeats">
                <section id="bookingInfo" class="flight-item max-info flex-booking">
                    <h4 class="flight-info"> @booking.StartLocation to @booking.EndLocation </h4>
                    <section class="flex-flights">
                        <div>@booking.FlightDate?.ToShortDateString()</div>
                        <i class="fa-regular fa-lemon margin-12"></i>
                        <div>Reservation number: @booking.Id.Substring(0, 6).ToUpper()</div>
                        <i class="fa-regular fa-lemon margin-12"></i>
                        <div>@booking.CountOfSeats <i class="fa-solid fa-user"></i></div>
                    </section>
                </section>
                <div id="bookingButtons" class="card-body-small text-center flex-2">
                    @if (booking.FlightDate <= DateTime.UtcNow.AddDays(30) && booking.IsCheckedIn == false)
                    {
                        <a asp-area="" asp-controller="Bookings" asp-action="CheckIn" asp-route-bookingId="@booking.Id" class="btn btn-warning">Check In</a>
                    }

                    <a asp-area="" asp-controller="Bookings" asp-action="AddLuggage" asp-route-bookingId="@booking.Id" class="btn btn-warning">Add Luggage</a>

                    @if (booking.IsCheckedIn == false)
                    {
                        <a asp-area="" asp-controller="Bookings" asp-action="Cancel" asp-route-bookingId="@booking.Id" class="btn btn-warning">Cancel Flight</a>
                    }
                </div>
            </section>
        }
    </div>



    <div class="flex-2">
        <h3 class="hr">Flight History</h3>
        @{
            var flightHistoryList = Model.Where(x => x.FlightDate < DateTime.UtcNow && x.IsCancelled == false).OrderByDescending(x => x.FlightDate).Take(5);

            if (flightHistoryList.Any())
            {
                foreach (var booking in flightHistoryList)
                {
                    <div class="col-md-4 div-flights-partial">
                        <div class="card mb-3 flights-partial">
                            <img class="card-title text-center" @booking.StartLocation @booking.EndLocation @booking.FlightDate?.ToShortDateString() @booking.TotalPrice @booking.CountOfSeats>
                        </div>
                    </div>
                }
            }
            else
            {
                <h4 class="text-center row-planes">You have not have any previous flight records.</h4>
            }
        }

    </div>

    <div class="flex-2">
        <h3 class="hr">Cancelled Flights</h3>

        @{
            var cancelledFlightList = Model.Where(x => x.IsCancelled == true).OrderByDescending(x => x.FlightDate).Take(5);

            if (cancelledFlightList.Any())
            {
                foreach (var booking in cancelledFlightList)
                {
                    <div class="col-md-4 div-flights-partial">
                        <div class="card mb-3 flights-partial">
                            <h1 class="card-title text-center"> @booking.StartLocation @booking.EndLocation  @booking.FlightDate?.ToShortDateString()  @booking.TotalPrice</h1>
                        </div>
                    </div>
                }
            }
            else
            {
                <h4 class="text-center row-planes">You have not have any flight cancelations.</h4>
            }
        }



    </div>

}