@model IEnumerable<FAQServiceModel>

@{
    var j = 0;
}


@if (!Model.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Information</h1>
        <p class="lead">There are no FAQ articles currently.Please contact support for assistance.</p>
    </div>

}
else
{
    <div class="row flex-faq">
        @foreach (var faq in Model)
        {
            <div class="col-md-4 div-planes-partial">
                <div class="card mb-3 planes-partial">
                    <img class="card-img-top img-faq-partial" src="@faq.ImageUrl">
                    <div class="accordion" id="accordionExample">
                        <div class="card-header" id="heading_@j">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-sm-center" type="button" data-toggle="collapse" data-target="#collapse_@j" aria-expanded="false" aria-controls="collapse_@j">
                                    @faq.Title
                                </button>
                                @if (User.IsAdmin())
                                {
                                    <a asp-area="Admin" asp-controller="FAQ" asp-action="Edit" asp-route-id="@faq.Id" class="btn btn-warning">Edit</a>
                                    <a asp-area="Admin" asp-controller="FAQ" asp-action="ChangeVisibility" asp-route-id="@faq.Id" class="btn btn-info float-right ml-3">@(faq.IsPublic ? "Hide" : "Show")</a>
                                }
                            </h2>
                        </div>

                        <div id="collapse_@j" class="collapse" aria-labelledby="heading_@j" data-parent="#accordionExample">
                            <div class="card-body overflow-scroll">
                                @faq.Description

                        @*
                        <input type="button" id="btnLikeFAQ" value="Like" class="btn btn-primary btn-block" />
                        <div class="row">
                        <h2 class="col-md-4 text-center" id="totalLikes"></h2>
                        </div>
                        <input type="hidden" id="faqId" value=@faq.Id />
                        *@
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            j++;
        }
    </div>
}



@* <script>
    const buttons = document.querySelectorAll('#btnLikeFAQ');

    buttons.forEach(btn => btn.addEventListener('click', (e) => {
        var id = e.target.parentElement.children[1].value;

        fetch(`/FAQ/LikeFAQ`, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
            },
            body: JSON.stringify({
                faqId: id
            })
        }).then(function (response) {
            if (response.ok) {

                return response.json();
            }
            return Promise.reject(response);
        }).then(data => {
            $('#totalLikes').text(data.Likes + " Likes");

        }).catch(function (error) {
            console.warn('Please Contact Support', error);
        });
    }));
</script> *@