@model AllFlightsQueryModel


<div class="row">
    <h1 class="display-4">Outgoing Flights!</h1>
    @foreach (var flight in Model.Flights)
    {
        <div class="col-md-4 div-planes-partial">
            <div class="card mb-3 planes-partial">
                <h1 class="card-title text-center"> @flight.StartLocation @flight.EndLocation  @flight.FlightDate?.ToShortDateString() @flight.Price</h1>
                <div class="card-body text-center">
                    @if (User.IsAdmin())
                    {
                        <a asp-area="Admin" asp-controller="Flights" asp-action="Edit" asp-route-id="@flight.Id" class="btn btn-warning">Edit</a>
                        <a asp-area="Admin" asp-controller="Flights" asp-action="ChangeVisibility" asp-route-id="@flight.Id" class="btn btn-info float-right ml-3">@(flight.IsPublic ? "Hide" : "Show")</a>
                    }
                    else
                    {
                        <a asp-controller="Flights" asp-action="Book" asp-route-id="@flight.Id" asp-route-countOfSeats="@Model.Passangers" class="btn btn-warning">Book</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

@if (Model.TripType == "2")
{
    @if (!Model.ReturnFlights.Any())
    {
        <div class="text-center">
            <p class="lead">There are no return flight options currently for the selected dates. Please check again later.</p>
        </div>
    }
    else
    {
        <div class="row">
            <h1 class="display-4">Return Flights!</h1>
            @foreach (var flight in Model.ReturnFlights)
            {
                <div class="col-md-4 div-planes-partial">
                    <div class="card mb-3 planes-partial">
                        <h1 class="card-title text-center"> @flight.StartLocation @flight.EndLocation  @flight.FlightDate?.ToShortDateString()</h1>
                        <div class="card-body text-center">
                            @if (User.IsAdmin())
                            {
                                <a asp-area="Admin" asp-controller="Flights" asp-action="Edit" asp-route-id="@flight.Id" class="btn btn-warning">Edit</a>
                                <a asp-area="Admin" asp-controller="Flights" asp-action="ChangeVisibility" asp-route-id="@flight.Id" class="btn btn-info float-right ml-3">@(flight.IsPublic ? "Hide" : "Show")</a>
                            }
                            else
                            {
                                <a asp-controller="Flights" asp-action="Book" asp-route-id="@flight.Id" asp-route-countOfSeats="@Model.Passangers" class="btn btn-warning">Book</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}