@model HomeServiceModel


@*@{
    ViewBag.Title = "Lime Airlines";
}*@

<h2 class="h2-center">Book a flight</h2>

<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="FlightsQuery.TripType"></label>
                <select asp-for="FlightsQuery.TripType" class="form-control">

                    @foreach (var triptype in Model.FlightsQuery.TripTypes)
                    {
                        <option value=@triptype.Id>@triptype.Name</option>
                    }
                </select>
                <span asp-validation-for="FlightsQuery.TripType" class="small text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="FlightsQuery.StartLocation"></label>
                <select asp-for="FlightsQuery.StartLocation" class="form-control">
                    <option value="">All</option>

                    @foreach (var startlocation in Model.FlightsQuery.StartLocations)
                    {
                        <option value=@startlocation>@startlocation</option>
                    }
                </select>
                <span asp-validation-for="FlightsQuery.StartLocation" class="small text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="FlightsQuery.EndLocation"></label>
                <select asp-for="FlightsQuery.EndLocation" class="form-control">
                    <option value="">All</option>

                    @foreach (var endlocation in Model.FlightsQuery.EndLocations)
                    {
                        <option value=@endlocation>@endlocation</option>
                    }
                </select>
                <span asp-validation-for="FlightsQuery.EndLocation" class="small text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="FlightsQuery.FlightDate"></label>
            <input asp-for="FlightsQuery.FlightDate" class="form-control" placeholder="Select Date">
            <span asp-validation-for="FlightsQuery.FlightDate" class="small text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="FlightsQuery.Passangers"></label>
            <input asp-for="FlightsQuery.Passangers" class="form-control" min="1" value="1" oninput="this.value =
                   !!this.value && Math.abs(this.value)>= 0 ? Math.abs(this.value) : null">
        </div>

        <div class="form-group">
            <label asp-for="FlightsQuery.Sorting">Sort By</label>
            <select asp-for="FlightsQuery.Sorting" class="form-control">
                <option value="0" selected>Lowest Price</option>
                <option value="1">Duration</option>
                <option value="2">Number of Transfers</option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="FlightsQuery.MaxTransfers">Number of Transfers</label>
            <input asp-for="FlightsQuery.MaxTransfers" type="range" class="form-range" min="0" max="2" value="2" step="1">
        </div>


        <div class="form-group col-md-4">
            <label asp-for="FlightsQuery.MaxPrice">Price</label>
            <input asp-for="FlightsQuery.MaxPrice" type="range" class="form-range" min="0" max="2000" value="2000" step="100">
        </div>

        <div class="form-group col-md-3">
            <button type="submit" class="btn btn-primary mb-2">Search</button>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
</form>


@if (!Model.FlightsQuery.Flights.Any())
{
    @if (!Model.CheapestFlight.Any())
    {
        <div class="jumbotron">
            <h1 class="display-4">Welcome to the Lime family!</h1>
            <p class="lead">There are no flight options currently. Please check again later.</p>

            @if (User.IsAdmin())
            {
                <hr class="my-4">
                <p class="lead">
                    <a asp-controller="Flights" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Flight</a>
                </p>
            }
        </div>
    }
    else
    {
        <div class="row flight-form">
            @for (int i = 0; i < Model.CheapestFlight.Count; i++)
            {
                var flight = Model.CheapestFlight[i];

                <div class="col-md-4  flight-promo">
                    <div class="card mb-3 card-width">
                        <div class="img-wrapper">
                            <img class="card-img" src="@flight.ImageUrl" alt="@flight.EndLocation @flight.Price">
                        </div>
                        <div class="card-img-overlay">
                            <h5 class="card-title text-left">@flight.EndLocation</h5>
                            <p class="card-text text-white font-weight-bold">From @flight.StartLocation starting BGN @flight.Price</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
else
{
        <partial name="_FlightsPartial" model="@Model.FlightsQuery" />




    var previousPage = Model.FlightsQuery.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.FlightsQuery.TotalFlights / AllFlightsQueryModel.FlightsPerPage);



    <div class="row mb-5">
        <div class="col-md-6">
            <a class="btn btn-primary @(Model.FlightsQuery.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Home"
           asp-action="Index"
           asp-route-tripType="@Model.FlightsQuery.TripType"
           asp-route-currentPage="@previousPage"
           asp-route-startLocation="@Model.FlightsQuery.StartLocation"
           asp-route-endLocation="@Model.FlightsQuery.EndLocation"
           asp-route-passangers="@Model.FlightsQuery.Passangers"
           asp-route-flightDate="@Model.FlightsQuery.FlightDate"
           asp-route-maxTransfers="@Model.FlightsQuery.MaxTransfers"
           asp-route-maxPrice="@Model.FlightsQuery.MaxPrice"
           asp-route-sorting="@((int)Model.FlightsQuery.Sorting)">@Html.Raw("<<")</a>
        </div>

        @{
            var shouldButtonBeDisabled = Model.FlightsQuery.CurrentPage == maxPage ||
            !Model.FlightsQuery.Flights.Any();
        }

        <div class="col-md-6">
            <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Home"
           asp-action="Index"
           asp-route-tripType="@Model.FlightsQuery.TripType"
           asp-route-currentPage="@(Model.FlightsQuery.CurrentPage + 1)"
           asp-route-startLocation="@Model.FlightsQuery.StartLocation"
           asp-route-endLocation="@Model.FlightsQuery.EndLocation"
           asp-route-passangers="@Model.FlightsQuery.Passangers"
           asp-route-flightDate="@Model.FlightsQuery.FlightDate"
           asp-route-maxTransfers="@Model.FlightsQuery.MaxTransfers"
           asp-route-maxPrice="@Model.FlightsQuery.MaxPrice"
           asp-route-sorting="@((int)Model.FlightsQuery.Sorting)">>></a>
        </div>
    </div>



}



