@model IEnumerable<FlightServiceModel>

@{
    ViewBag.Title = "Flight Administration";
}

<h1>All Flights</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">StartLocation</th>
            <th scope="col">EndLocation</th>
            <th scope="col">FlightDate</th>
            <th scope="col">FlightDuration</th>
            <th scope="col">Transfer</th>
            <th scope="col">Price</th>
            <th scope="col">IsPublic ? "Yes" : "No")</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in Model)
        {
            <tr>
                <td scope="col">@flight.Id</td>
                <td scope="col">@flight.StartLocation</td>
                <td scope="col">@flight.EndLocation</td>
                <td scope="col">@flight.FlightDate</td>
                <td scope="col">@flight.FlightDuration</td>
                <td scope="col">@flight.Transfer</td>
                <td scope="col">@flight.Price</td>
                <td scope="col">@(flight.IsPublic ? "Yes" : "No")</td>
                <td scope="col">
                    <a asp-area="Admin" asp-controller="Flights" asp-action="Delete" asp-route-id="@flight.Id" class="btn btn-danger float-right ml-3">Delete</a>
                    <a asp-area="Admin" asp-controller="Flights" asp-action="Edit" asp-route-id="@flight.Id" class="btn btn-warning float-right ml-3">Edit</a>
                    <a asp-area="Admin" asp-controller="Flights" asp-action="ChangeVisibility" asp-route-id="@flight.Id" class="btn btn-info float-right ml-3">@(flight.IsPublic ? "Hide" : "Show")</a>
                </td>
            </tr>
        }
    </tbody>
</table>