@model IEnumerable<FlightBookingServiceModel>

@{
    ViewBag.Title = "My Flights";
}


@if (!Model.Any())
{
    <h2 class="text-center">You do not have any flights yet!</h2>
}


<div class="row">
    <h2 class="display-4">Upcoming Flights</h2>

    @foreach (var booking in Model.Where(x => x.FlightDate >= DateTime.UtcNow && x.IsCancelled == false))
    {
        <div class="col-md-4 div-flights-partial">
            <div class="card mb-3 flights-partial">
                <h1 class="card-title text-center"> @booking.StartLocation @booking.EndLocation  @booking.FlightDate  @booking.Price  @booking.CountOfSeats</h1>
                <div class="card-body text-center">
                    <a asp-area="" asp-controller="Flights" asp-action="Cancel" asp-route-id="@booking.Id" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>



<div class="row">
    <h2 class="display-4">Flight History</h2>

    @foreach (var booking in Model.Where(x => x.FlightDate < DateTime.UtcNow && x.IsCancelled == false))
    {
        <div class="col-md-4 div-flights-partial">
            <div class="card mb-3 flights-partial">
                <h1 class="card-title text-center"> @booking.StartLocation @booking.EndLocation  @booking.FlightDate  @booking.Price @booking.CountOfSeats</h1>
            </div>
        </div>
    }
</div>

<div class="row">
    <h2 class="display-4">Cancelled Flights</h2>

    @foreach (var booking in Model.Where(x => x.IsCancelled == true))
    {
        <div class="col-md-4 div-flights-partial">
            <div class="card mb-3 flights-partial">
                <h1 class="card-title text-center"> @booking.StartLocation @booking.EndLocation  @booking.FlightDate  @booking.Price</h1>
            </div>
        </div>
    }
</div>